body{
    text-align: center;
    padding-right: 480px;
    padding-left: 480px;
}
p{
    text-align: justify;
}
h4{
    color: rgb(26, 116, 151);
    text-align: justify;
    border-left: solid rgb(26, 116, 151) 2px ;
    padding-left: 3px;
}
.azul{
    color: rgb(26, 116, 151);
}
h3{
    text-align: justify;
}